%h1 Listing questions

%table
  %thead
    %tr
      %th Title
      %th Kind
      %th Poll
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= question.title
        %td= question.kind
        %td= question.poll_id 
        %td= link_to 'Show', [@poll, question], class: "btn btn-default"
        %td= link_to 'Edit', edit_poll_question_path(@poll, question), class: "btn btn-default"
        %td= link_to 'Delete', [@poll, question], :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-default"
        
        